
       *{

        background-color: blanchedalmond;




       }
       
       
       body {
  background-color: lightblue;
}

       
       body{
            font-family: Arial;
            font-size: 16px;
            color: rgb(18, 120, 189);


        }

        header{

            text-align: center;
            background-color: beige;



        }

        header img {
            width: 100px;
            height: auto;
            border-radius: 10px;

        }

        a {

            text-decoration: none;



        }

        a:hover {
            text-decoration: underline;

        }

