
       *{

        background-color: blanchedalmond;




       }
       
       
       body {
  background-color: lightblue;
}

       
       body{
            font-family: Arial;
            font-size: 16px;
            color: rgb(18, 120, 189);


        }

        header{

            text-align: center;
            background-color: beige;



        }

        header img {
            width: 100px;
            height: auto;
            border-radius: 10px;

        }

        a {

            text-decoration: none;



        }

        a:hover {
            text-decoration: underline;

        }

        .logo{

            width: 50vw;
            height: auto;
            border-radius: 10px;

        }

        .content h2 {
            font-size: 1.6rem;
            color: darkblue;
            margin-top: 30px;
            margin-bottom: 50px;
           
        }

        .btn {
            padding: 10px 20px;
            border-radius: 8px;
            
        }

        btn-enviar{
            background-color: rgb(4, 4, 197);
            color: white;
            
        }

        .btn-enviar:hover{

            filter: brightness(1.50);
        }